@import url('https://fonts.cdnfonts.com/css/retro-computer');
@import url('./node_modules/nes.css/css/nes.css');

body {
    background-color:rgb(209, 153, 0);
    color: rgb(0, 0, 0);
}

.fs-3 {
    font-family: 'MinecraftiaRegular';
    font-weight: normal;
    font-style: normal;
}

p {
    font-family: 'Retro Computer', sans-serif;
}

.row-cols-5 {
    margin-top: 50px;
    margin-bottom: 50px;
}

.btn {
	background: #005800;
	border-bottom: 6px inset rgba(0,0,0,.5);
	border-left: 6px inset rgba(0,0,0,.5);
	border-right: 6px inset rgba(255,255,255,.5);
	border-top: 6px inset rgba(255,255,255,.5);
	box-sizing: border-box;
	color: white;
	cursor: pointer;
	display: inline-block;
	font-size: 2.2rem;
	margin: 1rem;
	min-width: 200px;
	padding: .5rem;
	text-transform: uppercase;
	width: auto;
}